node_modules
build
coverage
coverage.json
dist
typechain-types
# Compiler files
out
cache_forge
.storage-layouts
# Ignores development broadcast logs
broadcast
deployments
# Docs
docs/

# Dotenv file
.env
